# Bundler cache
.bundle
vendor

# Jekyll cache
.jekyll-cache
.jekyll-metadata

Gemfile.lock
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json
.husky



# IDE configurations
.idea
.vscode
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
.obsidian
# Misc
_sass/dist
assets/js/dist
