body {
  position: relative;
}

#sidebar {
  background: none !important;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/background.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.07; /* 0부터 1 사이의 값으로 투명도 조절 */
  z-index: -1;
}
